<% @carbon_sources.each do |carbon_source| %>
<div class="row" id=<%= "source_#{carbon_source.id}" %>
  <h4>
    <%= link_to carbon_source.source, carbon_source_path(carbon_source) %>
  </h4>
  <h5 class="subheader">
    Conversion: <%= "#{carbon_source.conversion_factor} " +
      "#{carbon_source.conversion_units}" %>
  </h5>
</div>
<% end %>
