<div class="row">
  <h2>All Sources</h2>
  <% if @carbon_sources %>
    <div class="row" id="admin-carbon-index">
      <ul>
        <% @carbon_sources.each do |carbon_source| %>
          <h2 class="subheader"><%= "#{carbon_source.name}" %></h2>
          <ul>
            <li>
              Conversion: <%= "#{carbon_source.conversion_factor} #{carbon_source.conversion_units}" %>
            </li>
          </ul>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
