<h2><%= @carbon_source.source %></h2>
<h3>Category: <%= @carbon_source.category %></h3>
<% if @carbon_source.subcategory %>
  <h4>Category: <%= @carbon_source.subcategory %></h4>
<% end %>
Conversion: <%= "#{@carbon_source.conversion_factor} #{@carbon_source.conversion_units}" %>
