@import "foundation_and_overrides";

.axis {
  path,
  line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  text {
    font-family: $font-family-sans-serif;
    font-size: 1em;
  }
}

.bar {
  fill: $secondary-color;
}
