@import "foundation_and_overrides";

$font-family-cursive: "Lobster Two", cursive;

.row {
  margin-bottom: 1em;
}

.top-bar {
  margin-bottom: 1em;
  font-size: 1em;
}

.title-area a {
  font-family: $font-family-cursive;
  font-size: 1.5em;
}

.top-bar-section .right a {
  font-family: $font-family-cursive;
}

.flash.flash-notice {
  background-color: $info-color;
  padding: 0.5em;
}

ul#errors {
  background-color: $warning-color;
  padding: 0.5em;
}

.footprint-header {
  font-family: $font-family-cursive;
  font-size: 4em;
}

.sources-link {
  font-family: $font-family-cursive;
  font-size: 1.25em;
}
