<%= form_for [:admin, @use_reason] do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Add new reason", class: "button secondary" %>
    </div>
  </div>
<% end %>
