<%= render 'shared/errors' if @errors %>

<div class="row">
  <div class="small-4 columns">
    <h2>Add New Use Reason</h2>
    <%= render 'new' %>
  </div>

  <div class="small-8 columns">
    <h2>Use Reasons</h2>
    <% if @use_reasons %>
      <% @use_reasons.each do |reason| %>
        <div class="panel">
          <h3><%= reason.name %></h3>
          <h6><small>
            <%= link_to "Edit #{reason.name}", edit_admin_use_reason_path(reason) %>
          </small></h6>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
