<h2>Use Reasons</h2>
<% if @use_reasons %>
  <div class="row" id="use_reasons">
    <ul>
      <% @use_reasons.each do |reason| %>
        <li>
          <h2><%= reason.name %></h2>
          <%= link_to "Edit #{reason.name}", edit_admin_use_reason_path(reason) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <h2>Add New Use Reason</h2>
  <%= render 'new' %>
</div>
